

.wrapper{
	margin: 30px auto;
}

/** ---------- Base ---------- **/
.fl{
	float: left;
}
.fr{
	float: right;
}
.cl{
	clear: left;
}
.cr{
	clear: right;
}
.uk-text-truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.left{
	text-align: left;
}
.center{
	text-align: center;
}



/** ---------- Grid ---------- **/

.grid{
	font-family: "Microsoft YaHei",Arial, Helvetica, sans-serif;
	background: #fffff;
	overflow: hidden;
	font-size: 13px;
	color: #444;
	text-align: right;
	border: 1px solid #eaeaea;

	table td{
		padding: 0 12px;
		// -moz-box-sizing: border-box;
		// -webkit-box-sizing:border-box;
		// box-sizing: border-box;
	}

	&Corner{
		background: #f8f8f8;
		&Hook{
			line-height: 40px;
			text-align: center;
			td{
				white-space: nowrap;
				border-right: 1px solid #f8f8f8;
				border-bottom: 1px solid #c8cdcc;
			}
		}
		&Amount{
			overflow: hidden;
			position: relative;
			z-index: 1;
			text-align: center;
			td{
				border-bottom: 1px solid #eaeaea;
				border-right: 1px solid #eaeaea;
			}
		}
	}
	&Header{
		overflow:hidden;
		background: #f8f8f8;
		table{
			min-width: 100%;
		}
		&Title{
			line-height: 40px;
			text-align: center;
			td{
				white-space: nowrap;
				border-right: 1px solid #f8f8f8;
				border-bottom: 1px solid #c8cdcc;
			}
		}
		&Amount{
				line-height: 60px;
				td{
					border: solid #EAEAEA;
					border-width: 0 1px 1px 0;
				}
		}
	}
	&Sidebar{
		overflow: hidden;
		position: relative;
		z-index: 1;
		tr{
			line-height: 40px;
		}
		tr.odd{
			background: #f8f8f8;
		}
		td{
			border: solid #EAEAEA;
			border-width: 0 1px 1px 0;
		}
		// 操作图标
		&Menu{
			background: url('img/menu.png') 0 0 no-repeat;
			padding: 7px;
			display: inline-block;

		}
	}

	&Content{
		overflow: auto;
		position:relative;
		table{
			min-width: 100%;
		}
		tr{
			line-height: 40px;
		}
		tr.odd{
			background: #f8f8f8;
		}
		td{
			border: solid #EAEAEA;
			border-width: 0 1px 1px 0;
		}
	}
	.gridLayoutLeft{
		overflow: hidden;
		position: relative;
		z-index: 2;
	}
	.gridLayoutLeft:before {
		// box-shadow: 7px 0 18px -12px inset;
		box-shadow: 7px 0 18px -12px inset;
		content: " ";
		height: 100%;
		right: -15px;
		position: absolute;
		top: 0;
		width: 15px;
	}

	.act{
		overflow: visible;
	}

}