input[type="checkbox"]{
	margin: 0px;
}
.grid{
	&Corner{}
	&Header{
		overflow:hidden;
		width:684px;
	}
	&Sidebar{
		overflow: hidden;
		height:130px;
	}
	&Content{
		overflow: scroll;
		width:700px;
		height:150px;
		position:relative
	}
}