.wrapper {
  margin: 30px auto;
}
/** ---------- Base ---------- **/
.fl {
  float: left;
}
.fr {
  float: right;
}
.cl {
  clear: left;
}
.cr {
  clear: right;
}
.uk-text-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.left {
  text-align: left;
}
.center {
  text-align: center;
}
/** ---------- Grid ---------- **/
.grid {
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
  background: #fffff;
  overflow: hidden;
  font-size: 13px;
  color: #444;
  text-align: right;
  border: 1px solid #eaeaea;
}
.grid table td {
  padding: 0 12px;
}
.gridCorner {
  background: #f8f8f8;
}
.gridCornerHook {
  line-height: 40px;
  text-align: center;
}
.gridCornerHook td {
  white-space: nowrap;
  border-right: 1px solid #f8f8f8;
  border-bottom: 1px solid #c8cdcc;
}
.gridCornerAmount {
  overflow: hidden;
  position: relative;
  z-index: 1;
  text-align: center;
}
.gridCornerAmount td {
  border-bottom: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
}
.gridHeader {
  overflow: hidden;
  background: #f8f8f8;
}
.gridHeader table {
  min-width: 100%;
}
.gridHeaderTitle {
  line-height: 40px;
  text-align: center;
}
.gridHeaderTitle td {
  white-space: nowrap;
  border-right: 1px solid #f8f8f8;
  border-bottom: 1px solid #c8cdcc;
}
.gridHeaderAmount {
  line-height: 60px;
}
.gridHeaderAmount td {
  border: solid #EAEAEA;
  border-width: 0 1px 1px 0;
}
.gridSidebar {
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.gridSidebar tr {
  line-height: 40px;
}
.gridSidebar tr.odd {
  background: #f8f8f8;
}
.gridSidebar td {
  border: solid #EAEAEA;
  border-width: 0 1px 1px 0;
}
.gridSidebarMenu {
  background: url('img/menu.png') 0 0 no-repeat;
  padding: 7px;
  display: inline-block;
}
.gridContent {
  overflow: auto;
  position: relative;
}
.gridContent table {
  min-width: 100%;
}
.gridContent tr {
  line-height: 40px;
}
.gridContent tr.odd {
  background: #f8f8f8;
}
.gridContent td {
  border: solid #EAEAEA;
  border-width: 0 1px 1px 0;
}
.grid .gridLayoutLeft {
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.grid .gridLayoutLeft:before {
  box-shadow: 7px 0 18px -12px inset;
  content: " ";
  height: 100%;
  right: -15px;
  position: absolute;
  top: 0;
  width: 15px;
}
.grid .act {
  overflow: visible;
}
